{{ DOMAIN }}:53 {
  log
  errors
  file /etc/coredns/db.{{ DOMAIN }}
}

.:53 {
   forward . {{ FORWARDDNS }}
   file /etc/coredns/db.{{ IPNET }}         {{ PTRIP }}.in-addr.arpa
   log
   errors
   cache
}

